{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="{% url 'books' %}">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>
                    <a href="{% url 'books_date' book.pub_date %}">
                        {{ book.name }}
                    </a>
                </h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% if previous_page %}
            <div class="col-2">
                <a href="{% url 'books_date' previous_page %}">
                    <{{ previous_page|date:"Y-m-d" }}
                </a>
            </div>
            {% endif %}
            {% if next_page %}
            <div class="col-2">
                <a href="{% url 'books_date' next_page %}">
                    {{ next_page|date:"Y-m-d" }}>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}